@tailwind base;
@tailwind components;
@tailwind utilities;

$black: #1a1a1a;
$white: #e4e4e4;

hr {
    border-color: #4a4a4a;
}

body {
    background-color: $black;
    color: $white;
    font-family: 'Oxygen', sans-serif;

    p, span, li {
        font-size: 12px;
    }

    li {
        list-style-type: disc;
        padding-left: 12px;
    }
}

#header {
    background-color: #000;

    #header-logo {
        filter: hue-rotate(0deg);
        animation: rainbow 5s forwards infinite;

        &:hover {
            animation-play-state: paused;
        }
    }

    #header-links {
        a {
            display: inline;
            margin-left: 1rem;
        }
    }
}

@keyframes rainbow {
    0% { filter: hue-rotate(0deg) }
    100% { filter: hue-rotate(360deg)}
}

#main {
    p, span, li {
        font-size: 14px;
    }
}

#footer {
    // background-color: darkred;

    #badge-container {
        max-width: 704px;
        margin: 0 auto;

        img {
            display: inline;
        }

        #large-badges {
            img {
                max-width: 88px;
            }
        }
    }
}

.page-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}