@tailwind base;
@tailwind components;
@tailwind utilities;

$black: #1a1a1a;
$white: #e4e4e4;
$free: 'Free Pixel';
$averia: 'AveriaSerif-Regular';
$oldsh: 'OLDSH___';

@layer base {
    @font-face {
        font-family: 'FreePixel';
        font-display: swap;
        src: url('/fonts/FreePixel.ttf') format('truetype');
    }   

    @font-face {
        font-family: 'OLDSH___';
        font-display: swap;
        font-style: normal;
        src: url('/fonts/OLDSH___.ttf') format('truetype');
    }

    @font-face {
        font-family: 'OLDSH__';
        font-display: swap;
        font-style: italic;
        src: url('/fonts/OLDSH__.ttf') format('truetype');
    }

    * {
        box-sizing: border-box;
    }

    h1 { @apply text-5xl }
    h2 { @apply text-4xl }
    h3 { @apply text-3xl }
    h4 { @apply text-2xl }
    h5 { @apply text-xl }
    h6 { @apply text-lg }

    h1, h2, h3, h4, h5, h6 {
        font-family: $oldsh, 'Times New Roman', Times, serif;
        letter-spacing: 2px;
    }

    ul {
        list-style-type: disc;
        list-style-position: inside;
    }
}

hr {
    border-color: #4a4a4a;
}

body {
    background-color: $black;
    color: $white;
    font-family: $free, 'Courier New', Courier, monospace, sans-serif;
    line-height: 1.5rem;
    font-size: 16px;
    font-weight: lighter;
}

#header {
    background-color: #000;
    position: sticky;
    top: 0;
    z-index: 10;

    #header-logo {
        filter: hue-rotate(0deg);
        animation: rainbow 5s forwards infinite;

        &:hover {
            animation-play-state: paused;
        }
    }

    #header-links {
        a {
            display: inline;
            margin-left: 1rem;
        }
    }
}

@keyframes rainbow {
    0% { filter: hue-rotate(0deg) }
    100% { filter: hue-rotate(360deg)}
}

// #main {}

#footer {
    // background-color: darkred;

    #badge-container {
        max-width: 704px;
        margin: 0 auto;

        img {
            display: inline;
        }

        #large-badges {
            img {
                max-width: 88px;
            }
        }
    }
}

.page-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.underlined-link {
    text-decoration: underline;
    text-underline-offset: 3px;
}